In [144]:
import pandas as pd

In [145]:
from pickle import dump

In [9]:
df= pd.read_table('.\\user_shopping\\00001.txt', delimiter= ',', header=None)

In [10]:
df.head()

        0    1    2  3         4   5       6  7
0  383515  A01  478  2  20151216  17   28000  1
1  314285  A01  478  2  20150513  14   15000  1
2   48978  A01  366  2  20150801  19  166400  1
3   48978  A01  232  2  20151228  12  166000  1
4  204739  A01   71  2  20150513  12    1000  2

In [129]:
df2= pd.read_table('.\\Rawdata\\제4회 Big Data Competition-분석용데이터-02.쇼핑업종 상품구매.txt', engine= 'python', delimiter=',')

In [130]:
df2.head()

     ID  RCT_NO BIZ_UNIT  PD_S_C  BR_C     DE_DT  DE_HR  BUY_AM  BUY_CT
0  4008    2108      A01     215     2  20150216     13   59600       2
1  6379    2109      A01      75    29  20150213     11   35000       1
2  6379    2109      A01     149     4  20150115     10   85000       1
3  8002    2110      A01     138    10  20151220     10   25000       1
4  8002    2110      A01     138    10  20151220     10   21000       1

In [16]:
df2.head(100)

       ID  RCT_NO BIZ_UNIT  PD_S_C  BR_C     DE_DT  DE_HR   BUY_AM  BUY_CT
0    4008    2108      A01     215     2  20150216     13    59600       2
1    6379    2109      A01      75    29  20150213     11    35000       1
2    6379    2109      A01     149     4  20150115     10    85000       1
3    8002    2110      A01     138    10  20151220     10    25000       1
4    8002    2110      A01     138    10  20151220     10    21000       1
5    8002    2110      A01     558     4  20150815     10    79200       1
6    7252    2111      A01      13    29  20150716     10     5400       1
7    5072    2112      A01     223     2  20150626     12   158000       1
8    5072    2112      A01     216     2  20150204     12    39000       1
9    5072    2112      A01     121     2  20150911     11     3000       1
10   5072    2112      A01     121     2  20150911     11    30000       2
11  10040    4082      A01     421    37  20151012     14    87000       1
12  10040    4082      A01     421    37  20151012     14    87000       1
13  13895    4083      A01     532     1  20151223     12   450000       1
14   9314    4084      A01     113     2  20150512     11    38700       1
15  15356    4085      A01     143    29  20150829     14   210000       1
16  15356    4085      A01     439    29  20151115     13    68000       1
17  15356    4085      A01     531    25  20150411     14  2198000       1
18  11502    4086      A01     208    22  20150102     14   142020       1
19  18739    4087      A01     558    29  20150621     11    80000       1
20  18739    4087      A01     165    47  20150501     10   227000       1
21   8283    4088      A01     107     1  20150911     11    12800       1
22  17230    4089      A01     421    40  20150921     16   108800       1
23  10214    4090      A01     153    27  20151025     11    17000       1
24  10214    4090      A01     488    16  20150203     10    53100       1
25  10214    4090      A01     145    16  20150203     10    94000       1
26  10214    4090      A01     145    16  20151124     12    24000       1
27  14040    4091      A01     514     7  20150427     13    45000       1
28   9321    4092      A01     501    41  20151113     11    27600       1
29   9321    4092      A01     191    41  20151113     12   175000       1
..    ...     ...      ...     ...   ...       ...    ...      ...     ...
70  14188    4107      A01     167    10  20150508     10   603600       1
71   9574    4108      A01     513    23  20150407     13    69000       1
72  15735    4109      A01     500     2  20150122     10    80000       1
73  12007    4110      A01     164    32  20150530     16    79000       1
74  19169    4111      A01     292    43  20151129     19   270000       1
75   8375    4112      A01     165     2  20151220     16   667800       1
76  17681    4113      A01     215    28  20151224     11    49000       1
77  17681    4113      A01     203    28  20150220     11    69900       1
78  17681    4113      A01     215    28  20151224     11   159000       1
79  10388    4114      A01     319     1  20150204     16   137500       1
80  10388    4114      A01     319     1  20150514     15   120000       1
81  14232    4115      A01     107    47  20151215     11    14900       1
82  14232    4115      A01     309    29  20150708     12    35000       1
83  14232    4115      A01     446    47  20151215     11    59000       1
84  14232    4115      A01     446    47  20151215     11    28800       1
85   9649    4116      A01     442     4  20150627     11   126000       2
86  15830    4117      A01     186    36  20150519     10    48300       1
87  12067    4118      A01     558    35  20150616     10    89500       1
88  12067    4118      A01     558    10  20150213     11   117800       1
89  19293    4119      A01     145    10  20150531     11    28000       1
90  19293    4119      A01     164    10  20151110     14   108000       1
91   8378    4120      A01     186    47  20150314     11    93000       1
92  17752    4121      A01     586     2  20150323     13   150000       1
93  10562    4122      A01     368    45  20150103     11   144000       1
94  10562    4122      A01     162    43  20151022     14   170000       1
95  10562    4122      A01     145     2  20150728     11   234000       1
96  14252    4123      A01     145     4  20150421     12   189000       1
97  14252    4123      A01     110    29  20150713     21    16320       1
98  14252    4123      A01     421     4  20150415     15    79000       1
99   9699    4124      A01     571    41  20150323     10    20640       1

[100 rows x 9 columns]

In [18]:
del df

NameError: name 'df' is not defined

In [131]:
df= pd.read_table('.\\Rawdata\\제4회 Big Data Competition-분석용데이터-01.고객DEMO.txt', engine= 'python', delimiter=',')

In [132]:
df.head(10)

   ID  GENDER AGE_PRD  HOM_PST_NO
0   1       1   60PRD        52.0
1   2       2   60PRD        80.0
2   3       2   60PRD       620.0
3   4       1   60PRD       120.0
4   5       1   60PRD         NaN
5   6       2   60PRD        58.0
6   7       2   60PRD        52.0
7   8       2   60PRD       480.0
8   9       2   60PRD       470.0
9  10       1   60PRD        55.0

In [133]:
df_result= pd.merge(df2, df, how='left', on='ID')

In [134]:
df_result.head(10)

,ID,RCT_NO,BIZ_UNIT,PD_S_C,BR_C,DE_DT,DE_HR,BUY_AM,BUY_CT,GENDER,AGE_PRD,HOM_PST_NO
0,4008,2108,A01,215,2,20150216,13,59600,2,2,50PRD,56.0
1,6379,2109,A01,75,29,20150213,11,35000,1,1,40PRD,480.0
2,6379,2109,A01,149,4,20150115,10,85000,1,1,40PRD,480.0
3,8002,2110,A01,138,10,20151220,10,25000,1,2,30PRD,300.0
4,8002,2110,A01,138,10,20151220,10,21000,1,2,30PRD,300.0
5,8002,2110,A01,558,4,20150815,10,79200,1,2,30PRD,300.0
6,7252,2111,A01,13,29,20150716,10,5400,1,2,30PRD,490.0
7,5072,2112,A01,223,2,20150626,12,158000,1,2,40PRD,55.0
8,5072,2112,A01,216,2,20150204,12,39000,1,2,40PRD,55.0
9,5072,2112,A01,121,2,20150911,11,3000,1,2,40PRD,55.0

In [137]:
df3= pd.read_table('.\\Rawdata\\제4회 Big Data Competition-분석용데이터-04.쇼핑업종 상품분류.txt', engine= 'python', delimiter=',', encoding= 'utf-8')

In [139]:
df_result= pd.merge(df_result, df3, how= 'left', on=['BIZ_UNIT', 'PD_S_C'])

In [138]:
df3.head(10)

  BIZ_UNIT  PD_S_C    PD_S_NM PD_M_NM PD_H_NM
0      A04     341  단행본서적(직배)   특수점서적   서적/음반
1      A04       1       삼각김밥    삼각김밥      미반
2      A04       2  The커진삼각김밥    삼각김밥      미반
3      A04       3       말이김밥      김밥      미반
4      A04       4      트레이김밥      김밥      미반
5      A04       5         초밥      김밥      미반
6      A04       6        도시락     도시락      미반
7      A04       7      미니도시락     도시락      미반
8      A04       8         기타     도시락      미반
9      A04       9    국/찌개도시락     도시락      미반

In [140]:
df_result.head(10)

,ID,RCT_NO,BIZ_UNIT,PD_S_C,BR_C,DE_DT,DE_HR,BUY_AM,BUY_CT,GENDER,AGE_PRD,HOM_PST_NO,PD_S_NM,PD_M_NM,PD_H_NM
0,4008,2108,A01,215,2,20150216,13,59600,2,2,50PRD,56.0,이지캐주얼,캐주얼,여성의류
1,6379,2109,A01,75,29,20150213,11,35000,1,1,40PRD,480.0,건강식품,건강식품,식품
2,6379,2109,A01,149,4,20150115,10,85000,1,1,40PRD,480.0,기초A,화장품,잡화
3,8002,2110,A01,138,10,20151220,10,25000,1,2,30PRD,300.0,기타,섬유잡화,잡화
4,8002,2110,A01,138,10,20151220,10,21000,1,2,30PRD,300.0,기타,섬유잡화,잡화
5,8002,2110,A01,558,4,20150815,10,79200,1,2,30PRD,300.0,캐주얼화,구두,잡화
6,7252,2111,A01,13,29,20150716,10,5400,1,2,30PRD,490.0,일식델리,가공식품,식품
7,5072,2112,A01,223,2,20150626,12,158000,1,2,40PRD,55.0,트래디셔널,트래디셔널,여성의류
8,5072,2112,A01,216,2,20150204,12,39000,1,2,40PRD,55.0,쿨캐주얼,캐주얼,여성의류
9,5072,2112,A01,121,2,20150911,11,3000,1,2,40PRD,55.0,식당가 한식,가공식품,식품

In [33]:
import gc

In [187]:
df_result.to_csv('merged_dataframe_shopping.csv')

In [142]:
%reset -f

In [147]:
df_result= pd.read_table('merged_dataframe_shopping.csv', engine= 'python', delimiter=',')

In [40]:
df2= pd.read_table('.\\Rawdata\\제4회 Big Data Competition-분석용데이터-03.쇼핑외 업종 상품구매.txt', engine= 'python', delimiter=',')

In [151]:
df_result.drop('Unnamed: 0', axis=1, inplace=True)

In [152]:
df_result.head()

,ID,RCT_NO,BIZ_UNIT,PD_S_C,BR_C,DE_DT,DE_HR,BUY_AM,BUY_CT,GENDER,AGE_PRD,HOM_PST_NO,PD_S_NM,PD_M_NM,PD_H_NM
0,4008,2108,A01,215,2,20150216,13,59600,2,2,50PRD,56.0,이지캐주얼,캐주얼,여성의류
1,6379,2109,A01,75,29,20150213,11,35000,1,1,40PRD,480.0,건강식품,건강식품,식품
2,6379,2109,A01,149,4,20150115,10,85000,1,1,40PRD,480.0,기초A,화장품,잡화
3,8002,2110,A01,138,10,20151220,10,25000,1,2,30PRD,300.0,기타,섬유잡화,잡화
4,8002,2110,A01,138,10,20151220,10,21000,1,2,30PRD,300.0,기타,섬유잡화,잡화

In [45]:
df2.head(30)

      ID BIZ_UNIT    CRYM     U_AM  U_CT
0   9544      D03  201511    14400     1
1   9544      C01  201510    18000     1
2   9544      D01  201508     9500     2
3   9544      D01  201507     4200     1
4   9544      D03  201505     3900     1
5   9544      D01  201512    26000     3
6   9544      D01  201510     9500     1
7   9544      B03  201504   314283     5
8   9544      C01  201502    38000     3
9   9544      D01  201502    18100     1
10  9544      C01  201511    20000     1
11  9544      C01  201502     2500     1
12  9595      D03  201510    26100     4
13  9595      C02  201504    18900     1
14  9595      B03  201502   104716     2
15  9595      D03  201505    12200     1
16  9595      D03  201501    10500     1
17  9595      D03  201508    28700     5
18  9595      D03  201509    36800     6
19  9595      D03  201511    22000     3
20  9595      D03  201506     4600     1
21  9706      D03  201506    11400     1
22  9784      B03  201510  3010842     6
23   991      D03  201511     5100     1
24   991      B01  201502   922800     1
25  2082      C01  201510    16500     2
26  2082      C01  201504    15000     2
27  2082      C01  201505     8500     2
28  2082      C01  201512    46000     2
29  2082      C01  201511     7500     1

In [66]:
df_result= pd.merge(df2, df, how='left', on='ID')

In [60]:
df_result.head(20)

      ID BIZ_UNIT    CRYM    U_AM  U_CT  GENDER AGE_PRD  HOM_PST_NO
0   9544      D03  201511   14400     1       2   30PRD       210.0
1   9544      C01  201510   18000     1       2   30PRD       210.0
2   9544      D01  201508    9500     2       2   30PRD       210.0
3   9544      D01  201507    4200     1       2   30PRD       210.0
4   9544      D03  201505    3900     1       2   30PRD       210.0
5   9544      D01  201512   26000     3       2   30PRD       210.0
6   9544      D01  201510    9500     1       2   30PRD       210.0
7   9544      B03  201504  314283     5       2   30PRD       210.0
8   9544      C01  201502   38000     3       2   30PRD       210.0
9   9544      D01  201502   18100     1       2   30PRD       210.0
10  9544      C01  201511   20000     1       2   30PRD       210.0
11  9544      C01  201502    2500     1       2   30PRD       210.0
12  9595      D03  201510   26100     4       1   60PRD        43.0
13  9595      C02  201504   18900     1       1   60PRD        43.0
14  9595      B03  201502  104716     2       1   60PRD        43.0
15  9595      D03  201505   12200     1       1   60PRD        43.0
16  9595      D03  201501   10500     1       1   60PRD        43.0
17  9595      D03  201508   28700     5       1   60PRD        43.0
18  9595      D03  201509   36800     6       1   60PRD        43.0
19  9595      D03  201511   22000     3       1   60PRD        43.0

In [48]:
df_result[df_result['GENDER']==2]

           ID BIZ_UNIT    CRYM     U_AM  U_CT  GENDER AGE_PRD  HOM_PST_NO
0        9544      D03  201511    14400     1       2   30PRD       210.0
1        9544      C01  201510    18000     1       2   30PRD       210.0
2        9544      D01  201508     9500     2       2   30PRD       210.0
3        9544      D01  201507     4200     1       2   30PRD       210.0
4        9544      D03  201505     3900     1       2   30PRD       210.0
5        9544      D01  201512    26000     3       2   30PRD       210.0
6        9544      D01  201510     9500     1       2   30PRD       210.0
7        9544      B03  201504   314283     5       2   30PRD       210.0
8        9544      C01  201502    38000     3       2   30PRD       210.0
9        9544      D01  201502    18100     1       2   30PRD       210.0
10       9544      C01  201511    20000     1       2   30PRD       210.0
11       9544      C01  201502     2500     1       2   30PRD       210.0
21       9706      D03  201506    11400     1       2   30PRD       500.0
22       9784      B03  201510  3010842     6       2   30PRD        57.0
23        991      D03  201511     5100     1       2   60PRD        55.0
24        991      B01  201502   922800     1       2   60PRD        55.0
25       2082      C01  201510    16500     2       2   50PRD        55.0
26       2082      C01  201504    15000     2       2   50PRD        55.0
27       2082      C01  201505     8500     2       2   50PRD        55.0
28       2082      C01  201512    46000     2       2   50PRD        55.0
29       2082      C01  201511     7500     1       2   50PRD        55.0
30       2082      C01  201503    18000     1       2   50PRD        55.0
31       2082      C01  201501     6000     1       2   50PRD        55.0
32       2082      C01  201511    66000     4       2   50PRD        55.0
33       2082      C01  201507     4500     1       2   50PRD        55.0
34       2082      B03  201509    92960     2       2   50PRD        55.0
35       2082      C01  201507    36000     2       2   50PRD        55.0
36       2082      C01  201508    13000     2       2   50PRD        55.0
37       2082      C01  201508    28000     2       2   50PRD        55.0
38       2082      D03  201505     9800     1       2   50PRD        55.0
...       ...      ...     ...      ...   ...     ...     ...         ...
178617  15317      B03  201502   110171     2       2   20PRD       210.0
178618  12164      D03  201507     6200     1       2   20PRD        55.0
178619  12164      C01  201502     3500     1       2   20PRD        55.0
178620  12164      D03  201508   104200     7       2   20PRD        55.0
178621  12164      D01  201504    54200     2       2   20PRD        55.0
178622  12164      D03  201509    25100     2       2   20PRD        55.0
178623  12164      D01  201502     7700     2       2   20PRD        55.0
178624  12164      C01  201502    20000     1       2   20PRD        55.0
178625  12164      D03  201502     3900     1       2   20PRD        55.0
178626  12164      D03  201510    19500     2       2   20PRD        55.0
178627  12164      D03  201505    20500     2       2   20PRD        55.0
178628  12164      D03  201503    23000     2       2   20PRD        55.0
178629  12164      D03  201511    14700     1       2   20PRD        55.0
178630  12164      D03  201512    14700     2       2   20PRD        55.0
178631  12164      D03  201501    63600     3       2   20PRD        55.0
178632  12164      C01  201509    10500     1       2   20PRD        55.0
178633  12164      D03  201504    23600     2       2   20PRD        55.0
178634  12164      C02  201510    17400     1       2   20PRD        55.0
178635  12164      B03  201503   125530     3       2   20PRD        55.0
178636  12164      C01  201507    20000     1       2   20PRD        55.0
178640  12255      C01  201505     8000     1       2   30PRD        87.0
178641  12255      C01  201505    30000     2       2   30PRD        87.0
178642  12255      B03  201502   197928     3       2   30PRD        87.0
178643  12255      D03  201508     9800     1       2   30PRD        87.0
178644  12255      C01  201512    30000     2       2   30PRD        87.0
178645  12255      C01  201509     4500     1       2   30PRD        87.0
178646  12255      C01  201508    36100     3       2   30PRD        87.0
178647  12255      C01  201509    24000     2       2   30PRD        87.0
178648  12255      D03  201501     5000     1       2   30PRD        87.0
178649  12255      C01  201507    42000     3       2   30PRD        87.0

[105724 rows x 8 columns]

In [49]:
df_result.loc[df_result['GENDER']==2].head(10)

     ID BIZ_UNIT    CRYM    U_AM  U_CT  GENDER AGE_PRD  HOM_PST_NO
0  9544      D03  201511   14400     1       2   30PRD       210.0
1  9544      C01  201510   18000     1       2   30PRD       210.0
2  9544      D01  201508    9500     2       2   30PRD       210.0
3  9544      D01  201507    4200     1       2   30PRD       210.0
4  9544      D03  201505    3900     1       2   30PRD       210.0
5  9544      D01  201512   26000     3       2   30PRD       210.0
6  9544      D01  201510    9500     1       2   30PRD       210.0
7  9544      B03  201504  314283     5       2   30PRD       210.0
8  9544      C01  201502   38000     3       2   30PRD       210.0
9  9544      D01  201502   18100     1       2   30PRD       210.0

In [154]:
import numpy as np

In [156]:
df_result['IS_FEMALE']= np.where(df_result['GENDER']==2, 1, 0)

In [157]:
df_result.head(10)

,ID,RCT_NO,BIZ_UNIT,PD_S_C,BR_C,DE_DT,DE_HR,BUY_AM,BUY_CT,GENDER,AGE_PRD,HOM_PST_NO,PD_S_NM,PD_M_NM,PD_H_NM,IS_MALE,IS_FEMALE
0,4008,2108,A01,215,2,20150216,13,59600,2,2,50PRD,56.0,이지캐주얼,캐주얼,여성의류,0,1
1,6379,2109,A01,75,29,20150213,11,35000,1,1,40PRD,480.0,건강식품,건강식품,식품,1,0
2,6379,2109,A01,149,4,20150115,10,85000,1,1,40PRD,480.0,기초A,화장품,잡화,1,0
3,8002,2110,A01,138,10,20151220,10,25000,1,2,30PRD,300.0,기타,섬유잡화,잡화,0,1
4,8002,2110,A01,138,10,20151220,10,21000,1,2,30PRD,300.0,기타,섬유잡화,잡화,0,1
5,8002,2110,A01,558,4,20150815,10,79200,1,2,30PRD,300.0,캐주얼화,구두,잡화,0,1
6,7252,2111,A01,13,29,20150716,10,5400,1,2,30PRD,490.0,일식델리,가공식품,식품,0,1
7,5072,2112,A01,223,2,20150626,12,158000,1,2,40PRD,55.0,트래디셔널,트래디셔널,여성의류,0,1
8,5072,2112,A01,216,2,20150204,12,39000,1,2,40PRD,55.0,쿨캐주얼,캐주얼,여성의류,0,1
9,5072,2112,A01,121,2,20150911,11,3000,1,2,40PRD,55.0,식당가 한식,가공식품,식품,0,1

In [158]:
df_result.drop('GENDER', axis=1, inplace= True)

In [159]:
df_result['AGE_PRD']= df_result['AGE_PRD'].map(lambda x: int(x[:2]))

In [160]:
df_result.head(10)

,ID,RCT_NO,BIZ_UNIT,PD_S_C,BR_C,DE_DT,DE_HR,BUY_AM,BUY_CT,AGE_PRD,HOM_PST_NO,PD_S_NM,PD_M_NM,PD_H_NM,IS_MALE,IS_FEMALE
0,4008,2108,A01,215,2,20150216,13,59600,2,50,56.0,이지캐주얼,캐주얼,여성의류,0,1
1,6379,2109,A01,75,29,20150213,11,35000,1,40,480.0,건강식품,건강식품,식품,1,0
2,6379,2109,A01,149,4,20150115,10,85000,1,40,480.0,기초A,화장품,잡화,1,0
3,8002,2110,A01,138,10,20151220,10,25000,1,30,300.0,기타,섬유잡화,잡화,0,1
4,8002,2110,A01,138,10,20151220,10,21000,1,30,300.0,기타,섬유잡화,잡화,0,1
5,8002,2110,A01,558,4,20150815,10,79200,1,30,300.0,캐주얼화,구두,잡화,0,1
6,7252,2111,A01,13,29,20150716,10,5400,1,30,490.0,일식델리,가공식품,식품,0,1
7,5072,2112,A01,223,2,20150626,12,158000,1,40,55.0,트래디셔널,트래디셔널,여성의류,0,1
8,5072,2112,A01,216,2,20150204,12,39000,1,40,55.0,쿨캐주얼,캐주얼,여성의류,0,1
9,5072,2112,A01,121,2,20150911,11,3000,1,40,55.0,식당가 한식,가공식품,식품,0,1

In [161]:
df_result['YEAR']= df_result['DE_DT']//10000

In [162]:
df_result['MONTH']=(df_result['DE_DT']-df_result['YEAR']*10000)//100

In [163]:
df_result['DAY']=(df_result['DE_DT']-df_result['YEAR']*10000-df_result['MONTH']*100)

In [165]:
df_result.drop('DE_DT', axis=1, inplace= True)

In [166]:
df_result.head(10)

,ID,RCT_NO,BIZ_UNIT,PD_S_C,BR_C,DE_HR,BUY_AM,BUY_CT,AGE_PRD,HOM_PST_NO,PD_S_NM,PD_M_NM,PD_H_NM,IS_MALE,IS_FEMALE,YEAR,MONTH,DAY
0,4008,2108,A01,215,2,13,59600,2,50,56.0,이지캐주얼,캐주얼,여성의류,0,1,2015,2,16
1,6379,2109,A01,75,29,11,35000,1,40,480.0,건강식품,건강식품,식품,1,0,2015,2,13
2,6379,2109,A01,149,4,10,85000,1,40,480.0,기초A,화장품,잡화,1,0,2015,1,15
3,8002,2110,A01,138,10,10,25000,1,30,300.0,기타,섬유잡화,잡화,0,1,2015,12,20
4,8002,2110,A01,138,10,10,21000,1,30,300.0,기타,섬유잡화,잡화,0,1,2015,12,20
5,8002,2110,A01,558,4,10,79200,1,30,300.0,캐주얼화,구두,잡화,0,1,2015,8,15
6,7252,2111,A01,13,29,10,5400,1,30,490.0,일식델리,가공식품,식품,0,1,2015,7,16
7,5072,2112,A01,223,2,12,158000,1,40,55.0,트래디셔널,트래디셔널,여성의류,0,1,2015,6,26
8,5072,2112,A01,216,2,12,39000,1,40,55.0,쿨캐주얼,캐주얼,여성의류,0,1,2015,2,4
9,5072,2112,A01,121,2,11,3000,1,40,55.0,식당가 한식,가공식품,식품,0,1,2015,9,11

In [168]:
df_result.columns

Index(['ID', 'RCT_NO', 'BIZ_UNIT', 'PD_S_C', 'BR_C', 'DE_HR', 'BUY_AM',
       'BUY_CT', 'AGE_PRD', 'HOM_PST_NO', 'PD_S_NM', 'PD_M_NM', 'PD_H_NM',
       'IS_MALE', 'IS_FEMALE', 'YEAR', 'MONTH', 'DAY'],
      dtype='object')

In [169]:
df_result= df_result[['ID', 'RCT_NO', 'BIZ_UNIT', 'PD_S_C', 'BR_C', 'BUY_AM',
       'BUY_CT', 'AGE_PRD', 'HOM_PST_NO', 'PD_S_NM', 'PD_M_NM', 'PD_H_NM',
       'IS_MALE', 'IS_FEMALE', 'YEAR', 'MONTH', 'DAY', 'DE_HR']]

In [170]:
df_result.rename(columns={'DE_HR': 'HOUR'}, inplace=True)

In [171]:
df_result.head(10)

,ID,RCT_NO,BIZ_UNIT,PD_S_C,BR_C,BUY_AM,BUY_CT,AGE_PRD,HOM_PST_NO,PD_S_NM,PD_M_NM,PD_H_NM,IS_MALE,IS_FEMALE,YEAR,MONTH,DAY,HOUR
0,4008,2108,A01,215,2,59600,2,50,56.0,이지캐주얼,캐주얼,여성의류,0,1,2015,2,16,13
1,6379,2109,A01,75,29,35000,1,40,480.0,건강식품,건강식품,식품,1,0,2015,2,13,11
2,6379,2109,A01,149,4,85000,1,40,480.0,기초A,화장품,잡화,1,0,2015,1,15,10
3,8002,2110,A01,138,10,25000,1,30,300.0,기타,섬유잡화,잡화,0,1,2015,12,20,10
4,8002,2110,A01,138,10,21000,1,30,300.0,기타,섬유잡화,잡화,0,1,2015,12,20,10
5,8002,2110,A01,558,4,79200,1,30,300.0,캐주얼화,구두,잡화,0,1,2015,8,15,10
6,7252,2111,A01,13,29,5400,1,30,490.0,일식델리,가공식품,식품,0,1,2015,7,16,10
7,5072,2112,A01,223,2,158000,1,40,55.0,트래디셔널,트래디셔널,여성의류,0,1,2015,6,26,12
8,5072,2112,A01,216,2,39000,1,40,55.0,쿨캐주얼,캐주얼,여성의류,0,1,2015,2,4,12
9,5072,2112,A01,121,2,3000,1,40,55.0,식당가 한식,가공식품,식품,0,1,2015,9,11,11

In [79]:
df_result.drop('CRYM', axis= 1, inplace= True)

In [81]:
df_result.head(10)

,ID,BIZ_UNIT,U_AM,U_CT,AGE_PRD,HOM_PST_NO,IS_FEMALE,IS_MALE,CRY,CRM
0,9544,D03,14400,1,30,210.0,1,0,2015,11
1,9544,C01,18000,1,30,210.0,1,0,2015,10
2,9544,D01,9500,2,30,210.0,1,0,2015,8
3,9544,D01,4200,1,30,210.0,1,0,2015,7
4,9544,D03,3900,1,30,210.0,1,0,2015,5
5,9544,D01,26000,3,30,210.0,1,0,2015,12
6,9544,D01,9500,1,30,210.0,1,0,2015,10
7,9544,B03,314283,5,30,210.0,1,0,2015,4
8,9544,C01,38000,3,30,210.0,1,0,2015,2
9,9544,D01,18100,1,30,210.0,1,0,2015,2

In [172]:
df_adr= pd.read_table('.\\areacd_rangeaddr_DB\\20171206_도로명범위.txt', delimiter='|', engine='python')

In [173]:
df_adr.tail(10)

,우편번호,시도,시도영문,시군구,시군구영문,읍면,읍면영문,도로명,도로명영문,지하여부,시작건물번호(주),시작건물번호(부),끝건물번호(주),끝건물번호(부),범위종류
303131,63643,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,성산읍,Seongsan-eup,한도로242번길,Hando-ro 242beon-gil,0,5,0,14.0,0.0,3
303132,63643,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,성산읍,Seongsan-eup,한도로255번길,Hando-ro 255beon-gil,0,8,0,24.0,0.0,3
303133,63644,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,대정읍,Daejeong-eup,글로벌에듀로,Geullobeoredyu-ro,0,104,0,390.0,0.0,2
303134,63644,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,대정읍,Daejeong-eup,에듀시티로,Edyusiti-ro,0,23,0,238.0,0.0,3
303135,63644,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,대정읍,Daejeong-eup,글로벌에듀로145번길,Geullobeoredyu-ro 145beon-gil,0,24,0,74.0,0.0,3
303136,63644,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,대정읍,Daejeong-eup,글로벌에듀로260번길,Geullobeoredyu-ro 260beon-gil,0,7,0,34.0,0.0,3
303137,63644,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,대정읍,Daejeong-eup,글로벌에듀로304번길,Geullobeoredyu-ro 304beon-gil,0,9,0,35.0,0.0,3
303138,63644,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,대정읍,Daejeong-eup,글로벌에듀로362번길,Global edu-ro 362beon-gil,0,17,0,NaN,NaN,0
303139,63644,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,대정읍,Daejeong-eup,에듀시티로50번길,Edu city-ro 50beon-gil,0,7,0,62.0,0.0,3
303140,63644,제주특별자치도,Jeju-do,서귀포시,Seogwipo-si,대정읍,Daejeong-eup,에듀시티로173번길,Edyusiti-ro 173beon-gil,0,3,2,16.0,0.0,3

In [174]:
df_adr['우편번호']=df_adr['우편번호'].map(lambda x: str(x).zfill(5)[:3])

In [103]:
df_adr['우편번호']

0         010
1         010
2         010
3         010
4         010
5         010
6         010
7         010
8         010
9         010
10        010
11        010
12        010
13        010
14        010
15        010
16        010
17        010
18        010
19        010
20        010
21        010
22        010
23        010
24        010
25        010
26        010
27        010
28        010
29        010
         ...
303111    636
303112    636
303113    636
303114    636
303115    636
303116    636
303117    636
303118    636
303119    636
303120    636
303121    636
303122    636
303123    636
303124    636
303125    636
303126    636
303127    636
303128    636
303129    636
303130    636
303131    636
303132    636
303133    636
303134    636
303135    636
303136    636
303137    636
303138    636
303139    636
303140    636
Name: 우편번호, Length: 303141, dtype: object

In [104]:
df_adr[['우편번호', '시도', '시군구']].tail(20)

       우편번호       시도   시군구
303121  636  제주특별자치도  서귀포시
303122  636  제주특별자치도  서귀포시
303123  636  제주특별자치도  서귀포시
303124  636  제주특별자치도  서귀포시
303125  636  제주특별자치도  서귀포시
303126  636  제주특별자치도  서귀포시
303127  636  제주특별자치도  서귀포시
303128  636  제주특별자치도  서귀포시
303129  636  제주특별자치도  서귀포시
303130  636  제주특별자치도  서귀포시
303131  636  제주특별자치도  서귀포시
303132  636  제주특별자치도  서귀포시
303133  636  제주특별자치도  서귀포시
303134  636  제주특별자치도  서귀포시
303135  636  제주특별자치도  서귀포시
303136  636  제주특별자치도  서귀포시
303137  636  제주특별자치도  서귀포시
303138  636  제주특별자치도  서귀포시
303139  636  제주특별자치도  서귀포시
303140  636  제주특별자치도  서귀포시

In [175]:
df_adr.drop_duplicates(['우편번호', '시도', '시군구'], inplace= True)

In [176]:
df_adr= df_adr[['우편번호', '시도', '시군구']]

In [177]:
df_adr.tail(100)

       우편번호       시도        시군구
228089  510     경상남도        김해시
228328  511     경상남도    창원시 의창구
229329  512     경상남도    창원시 의창구
229355  512     경상남도  창원시 마산회원구
229608  512     경상남도  창원시 마산합포구
230481  513     경상남도  창원시 마산회원구
230726  513     경상남도  창원시 마산합포구
231112  513     경상남도    창원시 의창구
231365  514     경상남도    창원시 의창구
231410  514     경상남도    창원시 성산구
231863  515     경상남도    창원시 성산구
232233  515     경상남도    창원시 진해구
232399  516     경상남도    창원시 진해구
233545  517     경상남도    창원시 진해구
233618  517     경상남도    창원시 성산구
233643  517     경상남도  창원시 마산합포구
234884  520     경상남도        함안군
235767  521     경상남도        의령군
236398  522     경상남도        산청군
237176  523     경상남도        하동군
237931  524     경상남도        남해군
238618  525     경상남도        사천시
239967  526     경상남도        진주시
241367  527     경상남도        진주시
242481  528     경상남도        진주시
243095  529     경상남도        고성군
243972  530     경상남도        통영시
245054  531     경상남도        통영시
245101  532     경상남도        거제시
245948  533     경상남도        거제시
...     ...      ...        ...
278137  586     전라남도        목포시
278864  587     전라남도        목포시
280213  588     전라남도        신안군
280682  589     전라남도        진도군
281206  590     전라남도        해남군
282153  591     전라남도        완도군
282891  592     전라남도        강진군
283617  593     전라남도        장흥군
284408  594     전라남도        보성군
285122  595     전라남도        고흥군
286113  596     전라남도        여수시
286968  597     전라남도        여수시
288125  610    광주광역시         북구
288735  611    광주광역시         북구
289608  612    광주광역시         북구
290302  614    광주광역시         동구
291122  615    광주광역시         동구
291198  616    광주광역시         남구
292174  617    광주광역시         남구
292677  619    광주광역시         서구
293520  620    광주광역시         서구
293974  622    광주광역시        광산구
294601  623    광주광역시        광산구
295215  624    광주광역시        광산구
295894  630  제주특별자치도        제주시
297425  631  제주특별자치도        제주시
298422  632  제주특별자치도        제주시
299325  633  제주특별자치도        제주시
300307  635  제주특별자치도       서귀포시
301971  636  제주특별자치도       서귀포시

[100 rows x 3 columns]

In [178]:
df_adr.columns= ['HOM_PST_NO', 'PRVIN', 'DESTRICT']

In [113]:
df_adr.head()

     HOM_PST_NO  PRVIN DESTRICT
0           010  서울특별시      강북구
654         011  서울특별시      강북구
1293        012  서울특별시      강북구
1474        013  서울특별시      도봉구
1983        014  서울특별시      도봉구

df_result['HOM_PST_NO'].map(int).head(10)

In [179]:
df_result['HOM_PST_NO']= df_result['HOM_PST_NO'].map(lambda x: str(x).zfill(5)[:3])

In [180]:
df_result[df_result.isnull().any(axis=1)]

Empty DataFrame
Columns: [ID, RCT_NO, BIZ_UNIT, PD_S_C, BR_C, BUY_AM, BUY_CT, AGE_PRD, HOM_PST_NO, PD_S_NM, PD_M_NM, PD_H_NM, IS_MALE, IS_FEMALE, YEAR, MONTH, DAY, HOUR]
Index: []

In [181]:
df_result['HOM_PST_NO'].fillna('000', inplace= True)

In [182]:
df_result.head(30)

,ID,RCT_NO,BIZ_UNIT,PD_S_C,BR_C,BUY_AM,BUY_CT,AGE_PRD,HOM_PST_NO,PD_S_NM,PD_M_NM,PD_H_NM,IS_MALE,IS_FEMALE,YEAR,MONTH,DAY,HOUR
0,4008,2108,A01,215,2,59600,2,50,056,이지캐주얼,캐주얼,여성의류,0,1,2015,2,16,13
1,6379,2109,A01,75,29,35000,1,40,480,건강식품,건강식품,식품,1,0,2015,2,13,11
2,6379,2109,A01,149,4,85000,1,40,480,기초A,화장품,잡화,1,0,2015,1,15,10
3,8002,2110,A01,138,10,25000,1,30,300,기타,섬유잡화,잡화,0,1,2015,12,20,10
4,8002,2110,A01,138,10,21000,1,30,300,기타,섬유잡화,잡화,0,1,2015,12,20,10
5,8002,2110,A01,558,4,79200,1,30,300,캐주얼화,구두,잡화,0,1,2015,8,15,10
6,7252,2111,A01,13,29,5400,1,30,490,일식델리,가공식품,식품,0,1,2015,7,16,10
7,5072,2112,A01,223,2,158000,1,40,055,트래디셔널,트래디셔널,여성의류,0,1,2015,6,26,12
8,5072,2112,A01,216,2,39000,1,40,055,쿨캐주얼,캐주얼,여성의류,0,1,2015,2,4,12
9,5072,2112,A01,121,2,3000,1,40,055,식당가 한식,가공식품,식품,0,1,2015,9,11,11
10,5072,2112,A01,121,2,30000,2,40,055,식당가 한식,가공식품,식품,0,1,2015,9,11,11
11,10040,4082,A01,421,37,87000,1,50,160,스포츠화,스포츠,스포츠,1,0,2015,10,12,14
12,10040,4082,A01,421,37,87000,1,50,160,스포츠화,스포츠,스포츠,1,0,2015,10,12,14
13,13895,4083,A01,532,1,450000,1,30,040,명품남성,명품,명품,0,1,2015,12,23,12
14,9314,4084,A01,113,2,38700,1,30,056,대형테넌트,가공식품,식품,0,1,2015,5,12,11
15,15356,4085,A01,143,29,210000,1,30,490,아이웨어,액세서리,잡화,1,0,2015,8,29,14
16,15356,4085,A01,439,29,68000,1,30,490,수입 아동복,아동,아동,1,0,2015,11,15,13
17,15356,4085,A01,531,25,2198000,1,30,490,컨템포러리,명품,명품,1,0,2015,4,11,14
18,11502,4086,A01,208,22,142020,1,40,420,영 캐릭터,캐주얼,여성의류,0,1,2015,1,2,14
19,18739,4087,A01,558,29,80000,1,30,480,캐주얼화,구두,잡화,1,0,2015,6,21,11
20,18739,4087,A01,165,47,227000,1,30,480,가방,피혁잡화,잡화,1,0,2015,5,1,10
21,8283,4088,A01,107,1,12800,1,30,087,브랜드샵,가공식품,식품,0,1,2015,9,11,11
22,17230,4089,A01,421,40,108800,1,40,100,스포츠화,스포츠,스포츠,1,0,2015,9,21,16
23,10214,4090,A01,153,27,17000,1,50,510,아울렛(화장품),화장품,잡화,1,0,2015,10,25,11
24,10214,4090,A01,488,16,53100,1,50,510,욕실용품,생활잡화,가정,1,0,2015,2,3,10
25,10214,4090,A01,145,16,94000,1,50,510,기초 화장품,화장품,잡화,1,0,2015,2,3,10
26,10214,4090,A01,145,16,24000,1,50,510,기초 화장품,화장품,잡화,1,0,2015,11,24,12
27,14040,4091,A01,514,7,45000,1,50,130,L.B,침구/수예,가정,0,1,2015,4,27,13
28,9321,4092,A01,501,41,27600,1,60,160,식기단기행사,식기,가정,0,1,2015,11,13,11
29,9321,4092,A01,191,41,175000,1,60,160,수입화,트래디셔널,남성의류,0,1,2015,11,13,12

In [183]:
df_result= pd.merge(df_result, df_adr, how='left', on='HOM_PST_NO')

In [184]:
df_result.head(30)

,ID,RCT_NO,BIZ_UNIT,PD_S_C,BR_C,BUY_AM,BUY_CT,AGE_PRD,HOM_PST_NO,PD_S_NM,PD_M_NM,PD_H_NM,IS_MALE,IS_FEMALE,YEAR,MONTH,DAY,HOUR,PRVIN,DESTRICT
0,4008,2108,A01,215,2,59600,2,50,056,이지캐주얼,캐주얼,여성의류,0,1,2015,2,16,13,서울특별시,송파구
1,6379,2109,A01,75,29,35000,1,40,480,건강식품,건강식품,식품,1,0,2015,2,13,11,부산광역시,해운대구
2,6379,2109,A01,149,4,85000,1,40,480,기초A,화장품,잡화,1,0,2015,1,15,10,부산광역시,해운대구
3,8002,2110,A01,138,10,25000,1,30,300,기타,섬유잡화,잡화,0,1,2015,12,20,10,세종특별자치시,NaN
4,8002,2110,A01,138,10,21000,1,30,300,기타,섬유잡화,잡화,0,1,2015,12,20,10,세종특별자치시,NaN
5,8002,2110,A01,558,4,79200,1,30,300,캐주얼화,구두,잡화,0,1,2015,8,15,10,세종특별자치시,NaN
6,7252,2111,A01,13,29,5400,1,30,490,일식델리,가공식품,식품,0,1,2015,7,16,10,부산광역시,영도구
7,5072,2112,A01,223,2,158000,1,40,055,트래디셔널,트래디셔널,여성의류,0,1,2015,6,26,12,서울특별시,송파구
8,5072,2112,A01,216,2,39000,1,40,055,쿨캐주얼,캐주얼,여성의류,0,1,2015,2,4,12,서울특별시,송파구
9,5072,2112,A01,121,2,3000,1,40,055,식당가 한식,가공식품,식품,0,1,2015,9,11,11,서울특별시,송파구
10,5072,2112,A01,121,2,30000,2,40,055,식당가 한식,가공식품,식품,0,1,2015,9,11,11,서울특별시,송파구
11,10040,4082,A01,421,37,87000,1,50,160,스포츠화,스포츠,스포츠,1,0,2015,10,12,14,경기도,의왕시
12,10040,4082,A01,421,37,87000,1,50,160,스포츠화,스포츠,스포츠,1,0,2015,10,12,14,경기도,의왕시
13,13895,4083,A01,532,1,450000,1,30,040,명품남성,명품,명품,0,1,2015,12,23,12,서울특별시,마포구
14,9314,4084,A01,113,2,38700,1,30,056,대형테넌트,가공식품,식품,0,1,2015,5,12,11,서울특별시,송파구
15,15356,4085,A01,143,29,210000,1,30,490,아이웨어,액세서리,잡화,1,0,2015,8,29,14,부산광역시,영도구
16,15356,4085,A01,439,29,68000,1,30,490,수입 아동복,아동,아동,1,0,2015,11,15,13,부산광역시,영도구
17,15356,4085,A01,531,25,2198000,1,30,490,컨템포러리,명품,명품,1,0,2015,4,11,14,부산광역시,영도구
18,11502,4086,A01,208,22,142020,1,40,420,영 캐릭터,캐주얼,여성의류,0,1,2015,1,2,14,대구광역시,수성구
19,18739,4087,A01,558,29,80000,1,30,480,캐주얼화,구두,잡화,1,0,2015,6,21,11,부산광역시,해운대구
20,18739,4087,A01,165,47,227000,1,30,480,가방,피혁잡화,잡화,1,0,2015,5,1,10,부산광역시,해운대구
21,8283,4088,A01,107,1,12800,1,30,087,브랜드샵,가공식품,식품,0,1,2015,9,11,11,서울특별시,관악구
22,17230,4089,A01,421,40,108800,1,40,100,스포츠화,스포츠,스포츠,1,0,2015,9,21,16,경기도,김포시
23,10214,4090,A01,153,27,17000,1,50,510,아울렛(화장품),화장품,잡화,1,0,2015,10,25,11,경상남도,김해시
24,10214,4090,A01,488,16,53100,1,50,510,욕실용품,생활잡화,가정,1,0,2015,2,3,10,경상남도,김해시
25,10214,4090,A01,145,16,94000,1,50,510,기초 화장품,화장품,잡화,1,0,2015,2,3,10,경상남도,김해시
26,10214,4090,A01,145,16,24000,1,50,510,기초 화장품,화장품,잡화,1,0,2015,11,24,12,경상남도,김해시
27,14040,4091,A01,514,7,45000,1,50,130,L.B,침구/수예,가정,0,1,2015,4,27,13,경기도,하남시
28,9321,4092,A01,501,41,27600,1,60,160,식기단기행사,식기,가정,0,1,2015,11,13,11,경기도,의왕시
29,9321,4092,A01,191,41,175000,1,60,160,수입화,트래디셔널,남성의류,0,1,2015,11,13,12,경기도,의왕시

In [185]:
df_result[df_result.isnull().any(axis=1)]

,ID,RCT_NO,BIZ_UNIT,PD_S_C,BR_C,BUY_AM,BUY_CT,AGE_PRD,HOM_PST_NO,PD_S_NM,PD_M_NM,PD_H_NM,IS_MALE,IS_FEMALE,YEAR,MONTH,DAY,HOUR,PRVIN,DESTRICT
3,8002,2110,A01,138,10,25000,1,30,300,기타,섬유잡화,잡화,0,1,2015,12,20,10,세종특별자치시,NaN
4,8002,2110,A01,138,10,21000,1,30,300,기타,섬유잡화,잡화,0,1,2015,12,20,10,세종특별자치시,NaN
5,8002,2110,A01,558,4,79200,1,30,300,캐주얼화,구두,잡화,0,1,2015,8,15,10,세종특별자치시,NaN
89,12067,4118,A01,558,35,89500,1,20,00n,캐주얼화,구두,잡화,1,0,2015,6,16,10,NaN,NaN
90,12067,4118,A01,558,10,117800,1,20,00n,캐주얼화,구두,잡화,1,0,2015,2,13,11,NaN,NaN
125,17901,4135,A01,308,29,17000,1,60,000,수영복,스포츠,스포츠,0,1,2015,11,8,11,NaN,NaN
126,17901,4135,A01,308,29,33000,1,60,000,수영복,스포츠,스포츠,0,1,2015,11,8,11,NaN,NaN
127,17901,4135,A01,491,29,71000,1,60,000,토탈데코,생활잡화,가정,0,1,2015,11,14,10,NaN,NaN
169,17947,4143,A01,218,23,134400,1,50,00n,컬처캐주얼,캐주얼,여성의류,0,1,2015,9,18,14,NaN,NaN
186,8599,4152,A01,292,19,40000,1,30,600,비지니스군,셔츠,남성의류,1,0,2015,3,30,11,NaN,NaN
190,934,98754,A01,82,29,10000,1,60,090,수입식품,차/커피,식품,1,0,2015,6,26,19,NaN,NaN
214,2742,98767,A01,446,29,84000,1,50,090,유아복,아동,아동,0,1,2015,10,9,16,NaN,NaN
218,2085,98769,A01,210,20,2000,1,50,00n,global SPA,캐주얼,여성의류,0,1,2015,10,7,11,NaN,NaN
219,2085,98769,A01,210,20,19900,1,50,00n,global SPA,캐주얼,여성의류,0,1,2015,10,7,11,NaN,NaN
220,2085,98769,A01,210,20,19900,1,50,00n,global SPA,캐주얼,여성의류,0,1,2015,10,7,11,NaN,NaN
221,2085,98769,A01,210,20,2000,1,50,00n,global SPA,캐주얼,여성의류,0,1,2015,10,7,11,NaN,NaN
222,2085,98769,A01,210,20,39900,1,50,00n,global SPA,캐주얼,여성의류,0,1,2015,10,7,11,NaN,NaN
223,2085,98769,A01,210,20,19900,1,50,00n,global SPA,캐주얼,여성의류,0,1,2015,10,7,11,NaN,NaN
224,2085,98769,A01,210,20,2000,1,50,00n,global SPA,캐주얼,여성의류,0,1,2015,10,7,11,NaN,NaN
281,3272,99395,A01,88,14,17000,1,50,000,뷰티상품,일용잡화,식품,0,1,2015,9,15,19,NaN,NaN
300,1320,99408,A01,189,27,188000,1,60,090,캐릭터 여화,구두,잡화,1,0,2015,9,16,19,NaN,NaN
301,1320,99408,A01,189,27,298000,1,60,090,캐릭터 여화,구두,잡화,1,0,2015,9,16,19,NaN,NaN
388,16443,82626,A03,538,120,1650,1,40,00n,냉장드레싱,냉장농산,냉장,1,0,2015,9,16,13,NaN,NaN
389,16443,82626,A03,540,120,6980,1,40,00n,냉장치킨족발류,냉장간식MS,MS,1,0,2015,9,16,13,NaN,NaN
390,16443,82626,A03,680,120,11900,1,40,00n,롤티슈,화장지,일상용품,1,0,2015,9,16,13,NaN,NaN
391,16443,82633,A03,452,120,4700,1,40,00n,믹스커피,커피류,일반식품,1,0,2015,10,8,17,NaN,NaN
445,6759,5221,A01,147,14,166000,1,40,000,향수,화장품,잡화,0,1,2015,1,19,15,NaN,NaN
550,16765,4259,A01,318,26,69000,1,30,00n,L/C 아웃도어,스포츠,스포츠,0,1,2015,5,9,12,NaN,NaN
551,16765,4259,A01,318,26,69000,1,30,00n,L/C 아웃도어,스포츠,스포츠,0,1,2015,5,9,12,NaN,NaN
552,16765,4259,A01,318,26,14000,1,30,00n,L/C 아웃도어,스포츠,스포츠,0,1,2015,5,9,12,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3815633,6188,24875,A03,413,352,1200,1,40,300,스틱과자,쿠키케이크,면과자,0,1,2015,12,9,16,세종특별자치시,NaN
3815634,6188,24875,A03,410,352,1990,1,40,300,크래커,쿠키케이크,면과자,0,1,2015,12,9,16,세종특별자치시,NaN
3815635,6188,24875,A03,486,352,2680,1,40,300,일반우유,우유,낙농,0,1,2015,12,9,16,세종특별자치시,NaN
3815636,6188,24875,A03,494,352,3780,1,40,300,떠먹는요구르트,발효유,낙농,0,1,2015,12,9,16,세종특별자치시,NaN
3816309,17564,22157,A03,519,304,9980,1,40,200,김치류,냉장농산,냉장,0,1,2015,11,16,16,NaN,NaN
3816310,17564,22157,A03,303,304,1540,2,40,200,비빔봉지라면,라면,면과자,0,1,2015,11,16,16,NaN,NaN
3816311,17564,22157,A03,188,304,5300,1,40,200,기타포장생선,기타수산,수산,0,1,2015,11,16,16,NaN,NaN
3816312,17564,22157,A03,285,304,1490,1,40,200,일반계란,계란류,채소,0,1,2015,11,16,16,NaN,NaN
3816313,17564,22157,A03,814,304,1000,1,40,200,기타일반문구/사무용품,문화용품,생활잡화,0,1,2015,11,16,16,NaN,NaN
3816317,19202,22225,A03,411,304,2990,1,50,200,쿠키,쿠키케이크,면과자,0,1,2015,12,29,12,NaN,NaN
3816318,19202,22225,A03,104,304,2480,1,50,200,바나나,수입과일,과일,0,1,2015,12,29,12,NaN,NaN
3816319,19202,22225,A03,401,304,4800,1,50,200,쉘초콜릿,초콜렛,면과자,0,1,2015,12,29,12,NaN,NaN
3816320,19202,22225,A03,403,304,2730,1,50,200,감자스낵,스낵,면과자,0,1,2015,12,29,12,NaN,NaN
3816321,19202,22225,A03,302,304,3190,1,50,200,국물봉지라면,라면,면과자,0,1,2015,12,29,12,NaN,NaN
3816322,19202,22225,A03,411,304,2990,1,50,200,쿠키,쿠키케이크,면과자,0,1,2015,12,29,12,NaN,NaN
3816323,19202,22225,A03,412,304,2750,1,50,200,샌드,쿠키케이크,면과자,0,1,2015,12,29,12,NaN,NaN
3816324,19202,22225,A03,776,304,470,1,50,200,종량제봉투,청소욕실용품,생활잡화,0,1,2015,12,29,12,NaN,NaN
3816325,19202,22225,A03,400,304,1650,1,50,200,판초콜릿,초콜렛,면과자,0,1,2015,12,29,12,NaN,NaN
3816384,12809,73081,A04,124,505,600,1,20,00n,크래커,비스킷류,과자,0,1,2015,12,9,1,NaN,NaN
3816385,12809,73081,A04,75,505,4800,3,20,00n,소시지,육가공,냉장,0,1,2015,12,9,1,NaN,NaN
3816386,12809,73081,A04,134,505,1500,1,20,00n,전통스낵,스낵류,과자,0,1,2015,12,9,1,NaN,NaN
3816387,12809,73081,A04,6,505,2800,1,20,00n,도시락,도시락,미반,0,1,2015,12,9,1,NaN,NaN
3816424,9233,67906,A04,125,4443,3000,2,30,00n,쿠키,비스킷류,과자,0,1,2015,11,13,22,NaN,NaN
3816425,9233,67906,A04,205,4443,2000,1,30,00n,해산건물,건해산물,조미료/건물,0,1,2015,11,13,22,NaN,NaN
3816548,12226,69626,A04,109,419,1500,1,60,00n,베이커리,프리미엄,빵,0,1,2015,11,21,22,NaN,NaN
3816549,12226,69626,A04,50,419,900,1,60,00n,흰우유(소）,흰우유,유음료,0,1,2015,11,21,22,NaN,NaN
3816550,12226,69626,A04,277,419,2000,1,60,00n,보리차,차음료,음료,0,1,2015,11,21,22,NaN,NaN
3816551,12226,69626,A04,98,419,1000,1,60,00n,과자빵,간식빵,빵,0,1,2015,11,21,22,NaN,NaN
3816789,18784,35403,A03,492,27,1990,1,60,00n,일반요구르트,발효유,낙농,0,1,2015,8,24,10,NaN,NaN
3816790,18784,35403,A03,486,27,5890,1,60,00n,일반우유,우유,낙농,0,1,2015,8,24,10,NaN,NaN

In [186]:
df_adr[df_adr['HOM_PST_NO']==300]

Empty DataFrame
Columns: [HOM_PST_NO, PRVIN, DESTRICT]
Index: []

In [125]:
df_result.to_csv('merged_data_exceptshopping.csv')

In [126]:
%reset -f